{% extends 'blogg/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at dicta eveniet mollitia modi, reprehenderit aspernatur, quia enim vero obcaecati esse ex, consectetur officiis id nobis tenetur! Repellat neque quas inventore distinctio non aliquid rem ea! Velit impedit, qui natus maiores enim magnam iste dolor omnis doloremque dignissimos ducimus dicta ad sapiente suscipit a error eum labore ipsam placeat ex neque reiciendis? Quisquam, pariatur. Libero distinctio, repellat perferendis, voluptatem, aspernatur molestiae accusamus unde ex deserunt totam ad numquam esse! Aliquam facilis magni nam, iusto voluptates suscipit sapiente quidem cumque voluptate quod quibusdam doloribus accusantium quas aut magnam id laborum? Commodi.
    </p>
</div>
{% endblock content %}